* {
  box-sizing: border-box;
}
body {
  position: relative;
  padding-top: 50px;
  @apply bg-gray-100;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply border-10 border-t-10  w-20 h-20 rounded-half animate-spin;
  border-top-color: rgba(96, 165, 250, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  margin: 20px 0 10px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

code {
  @apply overflow-x-scroll p-2 bg-gray-200 rounded-lg sm:overflow-x-hidden;
}

pre {
  @apply font-mono bg-gray-200 rounded-xl p-2 block;
}

pre code {
  @apply p-0 block;
}

a {
  @apply cursor-pointer no-underline text-indigo-500 hover:text-indigo-600;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul,
ol {
  @apply pl-10;
}

p,
blockquote,
ul,
ol,
dl,
li,
table,
pre {
  @apply my-5;
}

input[type='file'] {
  display: none;
}

.content-card {
  @apply p-8 border border-gray-400 rounded-lg bg-white;
}

.btn {
  @apply relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white shadow-sm focus:outline-none;
}

.btn-blue {
  @apply bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500;
}

.btn-red {
  @apply bg-red-600 hover:bg-red-700 focus:ring-red-500;
}

.btn-green {
  @apply bg-green-600 hover:bg-green-700 focus:ring-green-500;
}

.btn-gray {
  @apply bg-gray-400 hover:bg-gray-700 focus:ring-gray-500;
}

.btn-white {
  @apply bg-white hover:bg-gray-100 focus:ring-gray-300 text-gray-600;
}
