* {
  box-sizing: border-box;
}
body {
  position: relative;
  padding-top: 50px;
  @apply bg-gray-100;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply border-10 border-t-10  w-20 h-20 rounded-half animate-spin;
  border-top-color: rgba(96, 165, 250, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  margin: 20px 0 10px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

code {
  @apply overflow-x-scroll;
}

pre {
  @apply font-mono;
}

a {
  @apply cursor-pointer no-underline text-indigo-500 hover:text-indigo-600;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul,
ol {
  @apply pl-10;
}

p,
blockquote,
ul,
ol,
dl,
li,
table,
pre {
  @apply my-5;
}
